.review-box{
    display: inline-flex;
    width: 18.75rem;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 5rem;
}

.review-image{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 3rem;
    text-shadow: 2px 2px 4px rgba(9, 0, 0, 0.723);
}
.review-image img{
    border-radius: 50%;
    padding: 4px;
    border: 4px solid white;
}

.review-image span{
    font-size: 1.5rem;
}

.review-review{
    text-align: justify;
}

.review-image span{
    color: white;
}


@media (max-width:500px) {
    .review-box{
        padding: 2rem 0;
    }
}
