.menupage{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 6rem;
    padding: 10rem 4rem;
    justify-content: center;
}

@media (max-Width: 1281px){
    .menupage{
        grid-template-columns: repeat(2,auto);
    }
}

@media (max-width: 801px){
    .menupage{
        grid-template-columns: repeat(1,auto);
    }
}