.navbar{
    display: flex;
    justify-content: space-around;
    padding: .6rem 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: #F3F9FF;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.mainnav{
    display: flex;
    justify-content: space-around;
}

.navlogo .homelink{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: rgb(251, 255, 0);
    cursor: pointer;
}

.navlogo .homelink p{
    cursor: pointer;
    font-size: 1.8rem;
    font-family: cursive;
    text-shadow: 2px 2px 2px #ff0000;
}

.navmenu{
    display: flex;
    list-style-type: none;
    gap: 3rem;
    align-items: center;
}

.navmenu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
}

.navmenu hr{
    border: none;
    width: 100%;
    height: .2rem;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}

.nav-login{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.loginbuttondiv{
    display: flex;
    align-items: center;
}
.loginbuttondiv button{
    background-color: rgb(157, 204, 48);
    width: 6rem;
    height: 2rem;
    border: rgb(255, 253, 253);
    font-family: cursive;
    box-shadow: 0 2px 5px -2px black;
    border-radius: 1rem;
    font-size: 1rem;
    color: white;
    text-shadow: 0 2px 5px -2px black;
    cursor: pointer;
}

.loginbuttondiv button:hover{
    background-color: rgb(34, 213, 46);
    transition: 0.3s;
}

.loginbuttondiv button:active{
    background-color: rgb(203, 209, 188);
}

.cart{
position: relative;
}

.cart button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cartcount{
    position: relative;
    top: 8px;
    width: 1.1rem;
    height: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -8px;
    margin-left: 35px;
    border-radius: .8rem;
    font-size: .75rem;
    background-color: rgb(255, 68, 0);
    color: white;
}

.navmenu{
    text-decoration: none;
}

.threestripes{
    background-color: transparent;
    display: none;
    /* margin-right: 2rem; */
}

.threestripes button{
    background-color: transparent;
}

.threestripes button img{
    background-color: transparent;
}


@media (max-width: 1025px){
    .threestripes{
        display: flex;
        align-items: center;
    }

    .mainnav{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .navmenu{
        display: none;
    }

    .surpricemenu{
        gap: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
    }

    .threestripes{
        /* align-self: flex-start; */
        padding:1rem;
    }

    .threestripes button{
        background-color: #F3F9FF;
        border: #F3F9FF;
        cursor: pointer;
    }
    .nav-login{
        display: flexbox;
        height: 5rem;
    }
    .navlogo{
        height: 5rem;
    }

    #SiteLogo{
        height: 55px;
        width: 104px;
    }

    .loginbuttondiv{
        display: none;
    }

}

@media (max-width: 801px){
    .nav-login{
        display: flex;
        align-items: center;
    }

    .navlogo p{
        display: none;
    }

    .navlogo{
        align-items: center;
        justify-content: center;
    }

    .navlogo .homelink{
        height: 100%;
    }
   
}

@media (max-width: 500px){
    .loginbuttondiv img{
        display: none;
    }

    .threestripes{
        padding-left: 0;
    }

    .loginbuttondiv button{
        width: 4rem;
    }
}

